{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Ijambo</title>

    <!-- Favicon -->
    <link rel="icon" href=" {% static 'img/core-img/favicon.ico' %} ">

    <!-- Stylesheet -->
    <link rel="stylesheet" href=" {% static 'style.css' %} ">

</head>

<body>
    {% block preloader %}
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    {% endblock %}

    {% block headerNav %}

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src=" {% static 'img/core-img/logo.png' %} " alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% url 'home' %}">Intango</a></li>
                                    <li><a href="{% url 'albums' %}">Albumu</a></li>
                                    <li><a href="{% url 'musicscategories' %}">Imiziki</a>
                                        <ul class="dropdown">
                                            <li><a href=" {% url 'musics' %} ">R-B</a></li>
                                            <li><a href=" {% url 'musics' %} ">Rap</a></li>
                                            <li><a href=" {% url 'musics' %} ">HipHop</a></li>
                                            <li><a href=" {% url 'musics' %} ">Country</a></li>
                                            <li><a href=" {% url 'musics' %} ">Akaranga</a></li>
                                            <li><a href=" {% url 'musics' %} ">Gospel</a></li>
                                        </ul>
                                    </li>
                                    <li><a href=" {% url 'events' %} ">Ibiteramo</a></li>
                                    <li><a href="{% url 'contact' %}">Ibituranga</a></li>
                                    
                                </ul>

                                <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register -->
                                    <div class="login-register-btn mr-50">
                                        {% if user.is_authenticated %}
                                        <a href="{% url 'logout' %}" id="loginBtn">Gusohoka</a>
                                        {% else %}
                                        <a href="{% url 'register' %}" id="loginBtn">Kwiyandikisha / </a>
                                        <a href="{% url 'login' %}" id="loginBtn">Kwinjira</a>
                                        {% endif %}
                                    </div>

                                    {% if user.is_authenticated %}
                                    <div class="cart-btn">
                                        <p>{{ user.username }}</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    {% endblock headerNav %}

    {% block content %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message | safe }}
            </div>
        {% endfor %}
        <!-- ##### Hero Area Start ##### -->
        <section class="hero-area">
            <div class="hero-slides owl-carousel">
                <!-- Single Hero Slide -->
                <div class="single-hero-slide d-flex align-items-center justify-content-center">
                    <!-- Slide Img -->
                    <div class="slide-img bg-img" style="background-image: url({% static 'img/bg-img/bg-1.jpg' %} );"></div>
                    <!-- Slide Content -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="hero-slides-content text-center">
                                    <h6 data-animation="fadeInUp" data-delay="100ms">Album Nshasha</h6>
                                    <h2 data-animation="fadeInUp" data-delay="300ms">Fizzology <span>Fizzology</span></h2>
                                    <a data-animation="fadeInUp" data-delay="500ms" href="#" class="btn oneMusic-btn mt-50">Vyirabire <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Hero Slide -->
                <div class="single-hero-slide d-flex align-items-center justify-content-center">
                    <!-- Slide Img -->
                    <div class="slide-img bg-img" style="background-image: url({% static 'img/bg-img/bg-2.jpg' %} );"></div>
                    <!-- Slide Content -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="hero-slides-content text-center">
                                    <h6 data-animation="fadeInUp" data-delay="100ms">Album Nshasha</h6>
                                    <h2 data-animation="fadeInUp" data-delay="300ms">Indoto <span>Indoto</span></h2>
                                    <a data-animation="fadeInUp" data-delay="500ms" href="#" class="btn oneMusic-btn mt-50">Vyirabire <i class="fa fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Hero Area End ##### -->

        <!-- ##### Latest Albums Area Start ##### -->
        <section class="latest-albums-area section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading style-2">
                            <p>Menya bishasha</p>
                            <h2>Album ziheruka gusohorwa</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="ablums-text text-center mb-70">
                            <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante. Donec in velit non elit pulvinar pellentesque et non eros.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="albums-slideshow owl-carousel">
                            <!-- Single Album -->
                            <div class="single-album">
                                <img src=" {% static 'img/bg-img/a1.jpg' %} " alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Sat-B</h5>
                                    </a>
                                    <p>Magonde</p>
                                </div>
                            </div>

                            <!-- Single Album -->
                            <div class="single-album">
                                <img src=" {% static 'img/bg-img/a2.jpg' %} " alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Big-Fizzo</h5>
                                    </a>
                                    <p>Fizzology</p>
                                </div>
                            </div>

                            <!-- Single Album -->
                            <div class="single-album">
                                <img src=" {% static 'img/bg-img/a3.jpg' %} " alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>MB Data</h5>
                                    </a>
                                    <p>Focus</p>
                                </div>
                            </div>

                            <!-- Single Album -->
                            <div class="single-album">
                                <img src=" {% static 'img/bg-img/a4.jpg' %} " alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Vichou Love</h5>
                                    </a>
                                    <p>Mawe</p>
                                </div>
                            </div>

                            <!-- Single Album -->
                            <div class="single-album">
                                <img src=" {% static 'img/bg-img/a5.jpg' %} " alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>FabeLove</h5>
                                    </a>
                                    <p>KeyshanBoy</p>
                                </div>
                            </div>

                            <!-- Single Album -->
                            <div class="single-album">
                                <img src=" {% static 'img/bg-img/a6.jpg' %} " alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>B-Face</h5>
                                    </a>
                                    <p>Rap Youdah</p>
                                </div>
                            </div>

                            <!-- Single Album -->
                            <div class="single-album">
                                <img src=" {% static 'img/bg-img/a7.jpg' %} " alt="">
                                <div class="album-info">
                                    <a href="#">
                                        <h5>Natasha</h5>
                                    </a>
                                    <p>Burundi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Latest Albums Area End ##### -->

        <!-- ##### Buy Now Area Start ##### -->
        <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading style-2">
                            <p>Menya bishasha</p>
                            <h2>Gura imiziki mishasha</h2>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                            <div class="album-thumb">
                                <img src=" {% static 'img/bg-img/b1.jpg' %} " alt="">
                                <!-- Album Price -->
                                <div class="album-price">
                                    <p>2000 Fbu</p>
                                </div>
                                <!-- Play Icon -->
                                <div class="play-icon">
                                    <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
                                </div>
                            </div>
                            <div class="album-info">
                                <a href="#">
                                    <h5>Ubusa/h5>
                                </a>
                                <p>Big Fizzo</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="200ms">
                            <div class="album-thumb">
                                <img src=" {% static 'img/bg-img/b2.jpg' %} " alt="">
                                <div class="album-price">
                                    <p>2000 Fbu</p>
                                </div>
                                <!-- Play Icon -->
                                <div class="play-icon">
                                    <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
                                </div>
                            </div>
                            <div class="album-info">
                                <a href="#">
                                    <h5>Appele-moi</h5>
                                </a>
                                <p>Bain Turo ft Masterland</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="300ms">
                            <div class="album-thumb">
                                <img src=" {% static 'img/bg-img/b3.jpg' %} " alt="">
                                <div class="album-price">
                                    <p>2000 Fbu</p>
                                </div>
                                <!-- Play Icon -->
                                <div class="play-icon">
                                    <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
                                </div>
                            </div>
                            <div class="album-info">
                                <a href="#">
                                    <h5>Nyonga</h5>
                                </a>
                                <p>Natasha</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="400ms">
                            <div class="album-thumb">
                                <img src=" {% static 'img/bg-img/b4.jpg' %} " alt="">
                                <div class="album-price">
                                    <p>2000 Fbu</p>
                                </div>
                                <!-- Play Icon -->
                                <div class="play-icon">
                                    <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
                                </div>
                            </div>
                            <div class="album-info">
                                <a href="#">
                                    <h5>Focus</h5>
                                </a>
                                <p>MB Data</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="500ms">
                            <div class="album-thumb">
                                <img src=" {% static 'img/bg-img/b1.jpg' %} " alt="">
                                <!-- Album Price -->
                                <div class="album-price">
                                    <p>2000</p>
                                </div>
                                <!-- Play Icon -->
                                <div class="play-icon">
                                    <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
                                </div>
                            </div>
                            <div class="album-info">
                                <a href="#">
                                    <h5>HipPop</h5>
                                </a>
                                <p>19th</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="600ms">
                            <div class="album-thumb">
                                <img src=" {% static 'img/bg-img/b2.jpg' %} " alt="">
                                <div class="album-price">
                                    <p>2000 Fbu</p>
                                </div>
                                <!-- Play Icon -->
                                <div class="play-icon">
                                    <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
                                </div>
                            </div>
                            <div class="album-info">
                                <a href="#">
                                    <h5>History</h5>
                                </a>
                                <p>Vichou Love</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                            <div class="album-thumb">
                                <img src=" {% static 'img/bg-img/b3.jpg' %} " alt="">
                                <div class="album-price">
                                    <p>2000 Fbu</p>
                                </div>
                                <!-- Play Icon -->
                                <div class="play-icon">
                                    <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
                                </div>
                            </div>
                            <div class="album-info">
                                <a href="#">
                                    <h5>Queen</h5>
                                </a>
                                <p>Channy Queen</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="200ms">
                            <div class="album-thumb">
                                <img src=" {% static 'img/bg-img/b4.jpg' %} " alt="">
                                <div class="album-price">
                                    <p>2000 Fbu</p>
                                </div>
                                <!-- Play Icon -->
                                <div class="play-icon">
                                    <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
                                </div>
                            </div>
                            <div class="album-info">
                                <a href="#">
                                    <h5>Ubibona Gute ?</h5>
                                </a>
                                <p>Natasha</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="300ms">
                            <div class="album-thumb">
                                <img src=" {% static 'img/bg-img/b1.jpg' %} " alt="">
                                <!-- Album Price -->
                                <div class="album-price">
                                    <p>2000 Fbu</p>
                                </div>
                                <!-- Play Icon -->
                                <div class="play-icon">
                                    <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
                                </div>
                            </div>
                            <div class="album-info">
                                <a href="#">
                                    <h5>Passport</h5>
                                </a>
                                <p>B-Face</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="400ms">
                            <div class="album-thumb">
                                <img src=" {% static 'img/bg-img/b2.jpg' %} " alt="">
                                <div class="album-price">
                                    <p>2000 Fbu</p>
                                </div>
                                <!-- Play Icon -->
                                <div class="play-icon">
                                    <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
                                </div>
                            </div>
                            <div class="album-info">
                                <a href="#">
                                    <h5>Ntancike</h5>
                                </a>
                                <p>Double Jay</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="500ms">
                            <div class="album-thumb">
                                <img src=" {% static 'img/bg-img/b3.jpg' %} " alt="">
                                <div class="album-price">
                                    <p>2000 Fbu</p>
                                </div>
                                <!-- Play Icon -->
                                <div class="play-icon">
                                    <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
                                </div>
                            </div>
                            <div class="album-info">
                                <a href="#">
                                    <h5>Ikidoma</h5>
                                </a>
                                <p>Kilikou Akili</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Album Area -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                        <div class="single-album-area wow fadeInUp" data-wow-delay="600ms">
                            <div class="album-thumb">
                                <img src=" {% static 'img/bg-img/b4.jpg' %} " alt="">
                                <div class="album-price">
                                    <p>2000 Fbu</p>
                                </div>
                                <!-- Play Icon -->
                                <div class="play-icon">
                                    <a href="#" class="video--play--btn"><span class="icon-play-button"></span></a>
                                </div>
                            </div>
                            <div class="album-info">
                                <a href="#">
                                    <h5>Polepole</h5>
                                </a>
                                <p>AnraudVich</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                            <a href="#" class="btn oneMusic-btn">Erekana Vyinshi <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Buy Now Area End ##### -->

        <!-- ##### Featured Artist Area Start ##### -->
        <section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed" style="background-image: url({% static 'img/bg-img/bg-4.jpg' %} );">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-12 col-md-5 col-lg-4">
                        <div class="featured-artist-thumb">
                            <img src=" {% static 'img/bg-img/fa.jpg' %} " alt="">
                        </div>
                    </div>
                    <div class="col-12 col-md-7 col-lg-8">
                        <div class="featured-artist-content">
                            <!-- Section Heading -->
                            <div class="section-heading white text-left mb-30">
                                <p>Buja FM</p>
                                <h2>Indirimbo y'ukwezi</h2>
                            </div>
                            <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante. Donec in velit non elit pulvinar pellentesque et non eros.</p>
                            <div class="song-play-area">
                                <div class="song-name">
                                    <p>Ubusa by Big Fizzo</p>
                                </div>
                                <audio preload="auto" controls>
                                    <source src="audio/dummy-audio.mp3">
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Featured Artist Area End ##### -->

        <!-- ##### Miscellaneous Area Start ##### -->
        <section class="miscellaneous-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <!-- ***** Weeks Top ***** -->
                    <div class="col-12 col-lg-4">
                        <div class="weeks-top-area mb-100">
                            <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                                <p>Menya bishasha</p>
                                <h2>muri ino ndwi</h2>
                            </div>

                            <!-- Single Top Item -->
                            <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="100ms">
                                <div class="thumbnail">
                                    <img src=" {% static 'img/bg-img/wt1.jpg' %} " alt="">
                                </div>
                                <div class="content-">
                                    <h6>Kingorongoro</h6>
                                    <p>Woza Wombona</p>
                                </div>
                            </div>

                            <!-- Single Top Item -->
                            <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="150ms">
                                <div class="thumbnail">
                                    <img src=" {% static 'img/bg-img/wt2.jpg' %} " alt="">
                                </div>
                                <div class="content-">
                                    <h6>Double Jay</h6>
                                    <p>Ndarushe</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- ***** New Hits Songs ***** -->
                    <div class="col-12 col-lg-4">
                        <div class="new-hits-area mb-100">
                            <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                                <p>Menya bishasha</p>
                                <h2>Ama Hit-Song</h2>
                            </div>

                            <!-- Single Top Item -->
                            <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                                <div class="first-part d-flex align-items-center">
                                    <div class="thumbnail">
                                        <img src=" {% static 'img/bg-img/wt7.jpg' %} " alt="">
                                    </div>
                                    <div class="content-">
                                        <h6>Corona</h6>
                                        <p>Kidumu</p>
                                    </div>
                                </div>
                                <audio preload="auto" controls>
                                    <source src="audio/dummy-audio.mp3">
                                </audio>
                            </div>

                            <!-- Single Top Item -->
                            <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="150ms">
                                <div class="first-part d-flex align-items-center">
                                    <div class="thumbnail">
                                        <img src=" {% static 'img/bg-img/wt8.jpg' %} " alt="">
                                    </div>
                                    <div class="content-">
                                        <h6>Gentleman</h6>
                                        <p>Sat-B</p>
                                    </div>
                                </div>
                                <audio preload="auto" controls>
                                    <source src="audio/dummy-audio.mp3">
                                </audio>
                            </div>

                            
                        </div>
                    </div>

                    <!-- ***** Popular Artists ***** -->
                    <div class="col-12 col-lg-4">
                        <div class="popular-artists-area mb-100">
                            <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                                <p>Menya bishasha</p>
                                <h2>Abaririvyi b'ivyamamare</h2>
                            </div>

                            <!-- Single Artist -->
                            <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                                <div class="thumbnail">
                                    <img src=" {% static 'img/bg-img/pa1.jpg' %} " alt="">
                                </div>
                                <div class="content-">
                                    <p>Sat-B</p>
                                </div>
                            </div>

                            <!-- Single Artist -->
                            <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="150ms">
                                <div class="thumbnail">
                                    <img src=" {% static 'img/bg-img/pa2.jpg' %} " alt="">
                                </div>
                                <div class="content-">
                                    <p>Big Fizzo</p>
                                </div>
                            </div>

                            <!-- Single Artist -->
                            <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="250ms">
                                <div class="thumbnail">
                                    <img src=" {% static 'img/bg-img/pa4.jpg' %} " alt="">
                                </div>
                                <div class="content-">
                                    <p>Mb-Data</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Miscellaneous Area End ##### -->

        {% block getInTouchArea %}

        <!-- ##### Contacts Area Start ##### -->
        <section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img" style="background-image: url({% static 'img/bg-img/bg-2.jpg' %} );">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading white wow fadeInUp" data-wow-delay="100ms">
                            <p>Dukurikirane</p>
                            <h2>Twandikire umenye bishasha</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <!-- Contacts Form Area -->
                        <div class="contact-form-area">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                            <input type="text" class="form-control" id="name" placeholder="Izina">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                            <input type="email" class="form-control" id="email" placeholder="E-mail yawe ">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group wow fadeInUp" data-wow-delay="300ms">
                                            <input type="text" class="form-control" id="subject" placeholder="Imvo">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group wow fadeInUp" data-wow-delay="400ms">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Ubutumwa"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="500ms">
                                        <button class="btn oneMusic-btn mt-30" type="submit">Rungika <i class="fa fa-angle-double-right"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Contacts Area End ##### -->

        {% endblock getInTouchArea %}

    {% endblock content %}

    {% block footerArea %}

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><img src="img/core-img/logo.png" alt=""></a>
                    <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script>Developped by : The CrewZ <i class="fa fa-heart-o" aria-hidden="true"></i>Template credit : <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                            <li><a href="#">Accueil</a></li>
                            <li><a href="#">Albums</a></li>
                            <li><a href="#">Evénements</a></li>
                            <li><a href="#">Nouveautés</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    {% endblock footerArea %}

    <!-- ##### All Javascript Script ##### -->
    {% block staticsFilesArea %}

    <script src=" {% static 'js/jquery/jquery-2.2.4.min.js' %} "></script>
    <!-- Popper js -->
    <script src=" {% static 'js/bootstrap/popper.min.js' %} "></script>
    <!-- Bootstrap js -->
    <script src=" {% static 'js/bootstrap/bootstrap.min.js' %} "></script>
    <!-- All Plugins js -->
    <script src=" {% static 'js/plugins/plugins.js' %} "></script>
    <!-- Active js -->
    <script src=" {% static 'js/active.js' %} "></script>
        
    {% endblock staticsFilesArea %}
    <!-- jQuery-2.2.4 js -->
    
</body>

</html>