{% extends 'index.html' %}
{% load static %}

{% block content %}

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>Login</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Welcome Back</h3>
                        <!-- Login Form -->
                        <div class="login-form">
                            <form action="#" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">{{login_form.username.label}}</label>
                                    {{login_form.username}}
                                    <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">{{ login_form.password.label }}</label>
                                   {{ login_form.password }}
                                </div>
                                {% if error_message %}
                                       <div class="alert alert-danger alert-dismissible">
                                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                                          <strong>{{ error_message }}</strong>
                                        </div>
                                {% endif %}
                                <button type="submit" class="btn oneMusic-btn mt-30">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Login Area End ##### -->

{% endblock content %}