{% extends 'index.html' %}
{% load static %}

{% block content %}


    <!-- ##### Buy Now Area Start ##### -->
    <section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <h2>Imiziki Yose</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Album Area -->
            {% for umuziki in imiziki %} 
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <div class="single-album-area wow fadeInUp" data-wow-delay="200ms">
                        <div class="album-thumb">
                            <img src="{{ umuziki.cover.url }}" alt="">
                        </div>
                        <div class="album-info">
                            <a href="{% url 'musicdetails' umuziki.id %}">
                                <h5>{{umuziki.title}}</h5>
                            </a>
                            <p>{{umuziki.author}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                        <a href="#" class="btn oneMusic-btn">Erekana Vyinshi <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Buy Now Area End ##### -->

{% endblock content %}